.slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: none;
}

.slider.active {
  display: block;
}

.slide__image {
  width: 100%; /* Taille unique pour les images */
  height: 400px; /* Permet à la hauteur de s'ajuster automatiquement pour conserver les proportions */
  max-width: 600px; /* Taille maximale pour les images */
}

/* Styles responsifs pour les images */
@media screen and (max-width: 768px) {
  .slide__image {
    max-width: 80%; /* Réduire la taille maximale des images sur les écrans plus petits */
  }
}

/* Styles pour les flèches de navigation */
.left-Arrow,
.right-Arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.left-Arrow:hover,
.right-Arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left-Arrow {
  left: 10px;
}

.right-Arrow {
  right: 10px;
}
