.collapse {
  display: flex;
  width: 100%;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.collapse__dropdown {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .collapse__dropdown {
    width: 80%;
  }
}

.collapse__dropdown__title {
  padding: 0.5em 1em;
  width: 100%;
  background-color: #ff6060; /* Couleur bleue par défaut */
  margin: 0 auto;
  margin-top: 1.5em;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .collapse__dropdown__title {
    width: 90%;
  }
}

.collapse__dropdown__title h2 {
  color: #ffffff; /* Couleur blanche par défaut */
  font-size: 24px;
  font-weight: 500;
}

.collapse__dropdown__title p {
  color: #ffffff; /* Couleur blanche par défaut */
}

.collapse__dropdown__title p i {
  cursor: pointer;
}

.collapse__dropdown__content {
  background-color: #6c757d; /* Couleur grise par défaut */
  width: 100%;
  border-radius: 5px;
}

@media screen and (min-width: 1024px) {
  .collapse__dropdown__content {
    width: 100%;
  }
}

.collapse__dropdown__content p {
  font-size: 20px;
  font-weight: 400;
  color: #007bff; /* Couleur bleue par défaut */
  margin: 0 auto;
  padding: 0.8em;
}
