@import "../styles/Saas_tools/variables_mixins.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

// Collapse.scss

.collapse__dropdown__container {
  width: 100%;
  margin: 20px 0;
}

.collapse__dropdown__title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.5em 1em;
  background-color: $primary-color;
  margin: 0 auto;
  margin-top: 1.5em;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  h2 {
    color: $tertiary-color;
    font-size: 24px;
    font-weight: 500;
    transition: color 0.3s ease;
  }

  p {
    cursor: pointer;
    i {
      font-size: 1.5rem;
      transition: transform 0.3s ease;
      color: #ffffff;
      transform: rotate(180deg);
    }
  }

  &:hover {
    background-color: darken($primary-color, 10%);
    h2 {
      color: lighten($tertiary-color, 10%);
    }
  }
}

.collapse__dropdown__content {
  background-color: #ffffff;
  border-radius: 5px;
  padding-top: 0.5em;
  transition: max-height 0.3s ease;

  p {
    font-size: 20px;
    font-weight: 400;
    color: $primary-color;
  }
}
