.nav {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  padding-right: 15px;
}

.nav__link {
  font-size: 12px;
  color: #3366cc; /* Exemple de couleur */
  text-decoration: none;
  padding-left: 0.8rem;
}

.nav__link:hover,
.nav__link:focus {
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 24px;
    padding-left: 3.5rem;
  }
}

.active {
  text-decoration-line: underline; /* Style pour le lien actif */
}
