@import "../styles/Saas_tools/variables_mixins.scss";

.nav-header {
  @include flex-end;
  text-transform: uppercase;

  @media screen and (min-width: $breakpoint-desktop) {
    text-transform: none;
  }

  &__nav-link-home,
  &__nav-link-about {
    @include font-right(12px);
    color: #000000;
    text-decoration: none;
    //text-decoration-line: underline;
    padding-left: 0.8rem;

    @media screen and (min-width: $breakpoint-desktop) {
      @include font-right(24px);
      padding-left: 3.5rem;
    }

    &:visited {
      text-decoration-line: underline;
    }

    &:focus {
      text-decoration-line: underline;
    }
  }
}
