$color-primary: #ff6060;
$color-secondary: #f7f7f7;
$color-tertiary: #ffffff;
$color-footer: #000000;
$color-background: rgba(0, 0, 0, 0.3);
$linear-cards: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%
);
